section(class="success", id="about")
    .container
        .row
            .col-lg-12.text-center
                h2 about
                hr.star-light
        .row
            .col-lg-4.col-lg-offset-2
                p This is a web app for maintaining sensors. Eventually there will be a higher level page that is my "personal homepage" based off the original "freelancer" example. A portfolio section would lead to the sensors page. 
                p The site will have real-time plots of sensor data vs. time by a wide range of intervals (e.g., m.s., s, min, hr, day, m, yr), and with an interactive calendar tied to the plots.
                br
            .col-lg-4
                p Some sensors currently planned on being used are for temperature (water, ambient, grill hot), humidity (mushrooms, tempeh, ambient).
                br
                p It's an attempt to use plenty of meta data/ontological/"internet of things" type business I guess.