section(class="success", id="about")
    .container
        .row
            .col-lg-12.text-center
                h2 about
                hr.star-light
        .row
            .col-lg-4.col-lg-offset-2
                p This is a web app for hobbies.
                br
            .col-lg-4
                p Some sensors currently planned on being used are for temperature (water, ambient, grill hot), humidity (mushrooms, tempeh, ambient).
                br