//- Blog template for projects to feed data into
//- Have a main blog organized by date, then subgrouped by project;
//- each project will have its own little blog too, but it's
//- really just the project-related posts from the DB

.container

	.blog-header
		h1.blog-title #{proj_name} tales
		p.lead.blog-descriptions #{blog_desc}

	.row
		.col-sm-8.blog-main
			.blog-post
				h2.blog-post-title #{post_title}
				p.blog-post-meta #{post_date}
				p.
					It's a post about tempeh! I found an old cooler
					in a trashcan behind the house. I'm thinking this could
					be a great vessel for incubating the tempeh.
				img(src="")
				blockquote 
