//- landing.pug

extends main-layout.pug
					
//- Page Content:
block content
	.container.landing-content
		.row
			.col-lg-12.text-center
				br
				br
				h1(class="mt-5") Welcome to C H U L A N E T
				p(class="lead") It's almost the internet..
				br
				image(src="/images/chula_moon_chickens.jpg", class="blog-pic img-rounded img-fluid img-responsive")