// author: popenc

// nav bar and stuff
include head.jade
include navbar.jade

header
	.container
		.row
			.col-lg-12
				img(class="img-responsive", src="images/awake-cover.png", alt="tycho awake album cover")
				.intro-text
					span.name projects!
					hr.star-light

// Portfolio Grid Section
section#portfolio
	.container
		.row

			//- #slideshow
			.col-sm-3
				//- a(class="btn btn-lg sensor-btn portfolio-link", href="#beer-project", data-toggle="modal")
				a(class="btn btn-lg sensor-btn portfolio-link", href="/beers", data-toggle="modal")
					img(src="images/brew.png", alt="beer mug")
					br
					//- | beers
			.col-sm-3
				a(class="btn btn-lg sensor-btn portfolio-link", href="#kombucha-project", data-toggle="modal")
					//- todo: cartoonize image
					img(src="images/kombucha.png", alt="kombucha jug")
					br
					//- | kombucha
			.col-sm-3
				a(class="btn btn-lg sensor-btn portfolio-link", href="#gardening-project", data-toggle="modal")
					//- todo: cartoonize image
					img(src="images/garden.png", alt="garden")
					br
					//- | garden

// the about section
include about

// the contact section
include contact

// Footer
footer.text-center
	.footer-below
		.container
			.row
				.col-lg-12
					| copyright &copy; projects! 2015


// Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-top.page-scroll.visible-xs.visible-sm
	a(class="btn btn-primary", href="#page-top")
		i.fa.fa-chevron-up

// Projects page
//- include projects