// Portfolio Modals
div(class="portfolio-modal modal fade", id="portfolioModal1", tabindex="-1", role="dialog", aria-hidden="true")
   .modal-content
       div(class="close-modal" data-dismiss="modal")
           .lr
               .rl
       .container
           .row
               .modal-body
                    h2 temperature
                    hr.star-primary
                    br
                    br
                   .col-md-8
                        // PLOT AND STUFF GOES HERE
                        #content
                           .demo-container
                                div(id="placeholder" style="width:100%;height:350px;")
                                script
                                    // set size of plot <div>
                                    var doc_height = $(window).height();
                                    $('#placeholder').height(0.5 * doc_height);
                            br
                   .col-md-4
                       .col-lg-6.col-lg-offset-3
                            label enter data interval:
                            input(id="data-interval", type="text", class="form-control", placeholder="seconds")
                            br
                       .col-lg-12
                            button(id="start-btn" type="button" class="btn btn-default" style="max-width:400px;") start
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            button(id="stop-btn" type="button" class="btn btn-default" style="max-width:400px;") stop
                            br
                            br
                            h3 current temp
                            h3(id="temp-val" style="display:inline-block;") 00.0 
                            h3(style="display:inline-block;") &deg;F
                       .col-lg-12
                            br
                            br
                           .col-lg-6
                                h3 start
                                h3#start-time 00:00:00
                           .col-lg-6
                                h3 end
                                h3#end-time 00:00:00
