// External CSS and JS sources

//- extends ./main.jade

//- block scripts
// bootstrap core css:
link(href="/startbootstrap-freelancer/css/bootstrap.css", rel="stylesheet")

// custom css:
link(href="/startbootstrap-freelancer/css/freelancer.css", rel="stylesheet")
link(href="/stylesheets/main.css", rel="stylesheet")

// jquery:
//- script(src="/scripts/jquery-1.11.3.js")
script(src="/scripts/jcarousel/vendor/jquery/jquery.js")

// Custom Fonts:
link(href="/startbootstrap-freelancer/font-awesome/css/font-awesome.min.css", rel="stylesheet", type="text/css")
link(href="http://fonts.googleapis.com/css?family=Montserrat:400,700", rel="stylesheet", type="text/css")
link(href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic", rel="stylesheet", type="text/css")

// FLOT:
script(language="javascript", type="text/javascript", src="/scripts/flot/jquery.flot.js")
script(language="javascript", type="text/javascript", src="/scripts/flot/jquery.flot.time.js")
script(language="javascript", type="text/javascript", src="/scripts/flot/jquery.flot.axislabels.js")
script(language="javascript", type="text/javascript", src="/scripts/flot/jquery.flot.navigate.js")
script(language="javascript", type="text/javascript", src="/scripts/flot/jquery.flot.resize.js")

// SOCKET.IO:
script(src="/socket.io/socket.io.js")

// Misc. Libraries:
script(src="/scripts/momentjs/moment.js")
script(src="/scripts/flot_plot_time2.js")
script(src="/scripts/ws_client.js")

// Bootstrap Core JavaScript:
script(src="/startbootstrap-freelancer/js/bootstrap.min.js")

// Plugin JavaScript:
script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
script(src="/startbootstrap-freelancer/js/classie.js")
script(src="/startbootstrap-freelancer/js/cbpAnimatedHeader.js")

// Contact Form JavaScript:
script(src="/startbootstrap-freelancer/js/jqBootstrapValidation.js")
script(src="/startbootstrap-freelancer/js/contact_me.js")

// Custom Theme JavaScript:
script(src="/startbootstrap-freelancer/js/freelancer.js")