include head
include navbar

// +++++ tempeh project +++++
section
  #tempeh-project.project.col-md-12.row

    .project-option.col-md-8.col-md-offset-1#landing
      img(src="/images/tempeh.fw.png")
      h3 tempeh

    div(class="project-option col-md-8 col-md-offset-1" id="new-batch" hidden)
      h3 start a new batch:
      .col-md-4.col-md-offset-1
        .form-group
          //- loop input fields for tempeh here:


    //- div(class="project-option col-md-8 col-md-offset-1" id="tempeh-tales" hidden)
    //-   //- h3 tempeh tales:
    //-   //- blog-like navigation
    //-   //- have links on left by date from db

    //-   include blog.jade