doctype html
html(lang="en")

	head

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="author", content="")

		title C H U L A N E T

		body

			// Navigation bar template:
			include navbar
					

			// Page Content:
			//- Perhaps stick with the same main (ie base) template, and switch out
			//- the below div with content depending on endpoint.
			block content

						
			// Footer
			footer.footer.text-center
				.container
					span(class="text-muted") copyright &copy; C H U L A N E T 2018


			// JS & CSS bundled import (todo: verify load order):
			script(src="/bundle.js")